

.top{
    height: 14%;
    width: 100%;
    background-color: aqua;
    position: sticky;
    top: 10px;
}

.uno{
    position: relative;
    float: left;
}

.uno_img {
    height: 100%;
}

.dos{
    position:relative;
    float: right;
    margin: 0 5vh;
    top: 40%;
    font-size: x-large;
    font-weight: bold;
}

.tres{
    position:relative;
    float: right;
    margin: 0 5vh;
    top: 40%;
    font-size: x-large;
    font-weight: bold;
}

.cuatro{

    position: relative;
    float: right;
    margin: 0 5vh;
    top: 40%;
    font-size: x-large;
    font-weight: bold;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: aqua;
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 5vh;
        top: 40%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
    
        position:relative;
        float: right;
        margin: 0 5vh;
        top: 40%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
    
        position: relative;
        float: right;
        margin: 0 5vh;
        top: 40%;
        font-size: large;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: aqua;
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
        position: relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
}

@media screen and (max-width: 530px) and (min-width: 425px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: aqua;
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 0.5vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
        position:relative;
        float: right;
        margin: 0 0.5vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
        position: relative;
        float: right;
        margin: 0 0.5vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
}

@media screen and (max-width: 424px) and (min-width: 320px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: rgb(74, 155, 221);
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
        position: relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
}

.body_print {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
}

.form {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

.form div {
    margin-bottom: 10px;
}

.fondo {
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
}