

.top{
    height: 14%;
    width: 100%;
    background-color: aqua;
    position: sticky;
    top: 10px;
}

.uno{
    position: relative;
    float: left;
}

.uno_img {
    height: 100%;
}

.dos{
    position:relative;
    float: right;
    margin: 0 5vh;
    top: 40%;
    font-size: x-large;
    font-weight: bold;
}

.tres{
    position:relative;
    float: right;
    margin: 0 5vh;
    top: 40%;
    font-size: x-large;
    font-weight: bold;
}

.cuatro{

    position: relative;
    float: right;
    margin: 0 5vh;
    top: 40%;
    font-size: x-large;
    font-weight: bold;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: aqua;
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 5vh;
        top: 40%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
    
        position:relative;
        float: right;
        margin: 0 5vh;
        top: 40%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
    
        position: relative;
        float: right;
        margin: 0 5vh;
        top: 40%;
        font-size: large;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: aqua;
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
        position: relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
}

@media screen and (max-width: 530px) and (min-width: 425px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: aqua;
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 0.5vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
        position:relative;
        float: right;
        margin: 0 0.5vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
        position: relative;
        float: right;
        margin: 0 0.5vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
}

@media screen and (max-width: 424px) and (min-width: 320px) {
    .top{
        height: 10%;
        width: 100%;
        background-color: rgb(74, 155, 221);
        position: sticky;
        top: 10px;
    }
    
    .uno{
        position: relative;
        float: left;
    }
    
    .uno_img {
        height: 100%;
    }
    
    .dos{
    
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .tres{
        position:relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
    
    .cuatro{
        position: relative;
        float: right;
        margin: 0 2vh;
        top: 50%;
        font-size: large;
        font-weight: bold;
    }
}

.body_print {
    display: grid;
    place-items: center;
    align-items: start;
    height: 75vh;
    margin: 0;
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
}

.body_reg {
    display: grid;
    place-items: center;
    align-items: start;
    height: 100vh;
    margin: 0;
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
}

.body_mod {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
    align-content: center;
}

.body_ses {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
}

.form {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

.form2 {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornflowerblue;
}

.form3 {
    text-align: center;
    width: 100%;
    margin-top: 0;
    background-color: cornflowerblue; 
    padding: 20px; 
    box-sizing: border-box;
}

.form4 {
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

.form5 {
    text-align: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornflowerblue;
}

.form6 {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

.form7 {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightcoral;
    margin-top: 100px;
}

.form8 {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightcoral;
}

.form div {
    margin-bottom: 10px;
}

.fondo {
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
}