

.top{

    display: grid;

    grid-template-areas:

     "a b b b b b b c d e";
     position: relative;
}

.uno{

    grid-area: a;

}

.dos{

    grid-area: c;
    text-align: center;
    position:absolute ;
    bottom: 125;
    font-weight: bold;
}

.tres{

    grid-area: d;
    text-align: center;
    position:absolute ;
    bottom: 125;
    font-weight: bold;
}

.cuatro{

    grid-area: e;
    text-align: center;
    position:absolute ;
    bottom: 125;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}